/* Golobal Style  */
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}

/* The Container Class */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navWrapper ul {
  display: flex;
  gap: 25px;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 20px 0px;
  align-content: center;
}

.navWrapper li a {
  text-decoration: none;
  color: black;
  font-weight: 500px;
  font-size: 14px;
  font-weight: bold;
}

/* Search Button */
.search-bar {
  display: inline-flex;
  align-items: center;
  /* gap: 0.5rem; */
  padding: 0;
  border: none;
  background-color: #f3ef10;
  color: black;
  cursor: pointer;
  font-size: 15px;
}

/* Hero Section  */

.hero-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: auto;
  align-content: normal;
  box-sizing: border-box;
  justify-content: flex-end;
  background-image: url(https://refactory.academy/wp-content/uploads/2025/08/0G2A8223-768x512.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  padding-bottom: 20px;
}

.hero-section-heading {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.heroMainHead {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-shadow: #333;
  text-align: center;
}

.heroSubHead {
  font-size: 24px;
  color: white;
  text-align: center;
}

/* buttons */
.hero-section-buttons {
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px 30px;
}

button {
  padding: 15px 30px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2rem;
  transition: color 0.3s;
}

/* hovering */
.purp {
  background-color: #6b2d8f;
  color: white;
}

.yello {
  background-color: #86c009;
  color: white;
}

.white {
  background-color: white;
  color: #6b2d8f;
}

/* Change color on hover */
.purp:hover {
  background-color: white;
  color: purple;
}

.yello:hover {
  background-color: white;
  color: purple;
}

.white:hover {
  background-color: rgb(5, 5, 83);
  color: white;
}

/* About Refactory Section  */

.aboutRefactory {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 60px;
  align-content: normal;
  column-gap: 20px;
  align-items: normal;
  box-sizing: border-box;
  align-self: auto;
}

.aboutContant {
  width: 100%;
  justify-content: flex-start;
  padding: 20px;
}

.imgAbout {
  max-width: 100%;
  background-color: #f5f5f5;
  align-content: center;
}

.header-about {
  color: #6b2d8f;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

.sub-header-about {
  color: #00bfa5;
  font-size: 24px;
}

p {
  margin: 0 0 12px;
  color: darkgrey;
  text-align: justify;
}

/* hovering */
.learnMoreButton a {
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

/* Change color on hover */
.learnMoreButton:hover {
  background-color: #1555b4;
}

/* Explore Featured Courses Section*/

.mainFeatureHeader {
  color: #6b2d8f;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.featureSubHeader {
  color: #00bfa5;
  font-size: 24px;
  text-align: center;
}

.featureSection {
  align-content: center;
  align-self: auto;
  align-items: normal;
  padding: 50px;
}
/* Grid Card  */

.feature {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: normal;
  align-content: start;
  align-self: auto;
  box-sizing: border-box;
}

/* Cards */
.headCardOne,
.headCardTwo,
.headCardThree {
  color: purple;
  font-size: larger;
}

.card {
  width: calc(100 / 3);
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.learnMoreButton {
  color: white;
  background-color: rgb(226, 226, 8);
}

/* Footer Section  */

.footer {
  background-color: #2c1a4d;
  padding: 60px 0;
}

.pearentFooter {
  display: flex;
  align-content: normal;
  align-items: normal;
  align-self: auto;
  box-sizing: border-box;
  column-gap: 40px;
  flex-direction: row;
  flex-basis: auto;
  color: white;
  border-bottom: 5px solid white;
}

.pearentFooter p {
  color: white;
}

.pearentFooter li {
  list-style: none;
}

.footerAboutRefactory {
  padding: 0px 20px;
}
/* Logo for footer  */
.footerlogo {
  width: 160px;
  height: 40px;
}

.footerGetInTouch {
  display: flex;
  align-content: normal;
  align-items: normal;
  align-self: auto;
  box-sizing: border-box;
  flex-direction: column;
  flex-basis: auto;
  padding: 0px 20px;
}

.footer h2 {
  color: teal;
}

.footerResources {
  padding: 0px 20px;
}

.footerResources a {
  color: white;
  text-decoration: none;
}

.footerVisitUs {
  padding: 0px 20px;
}

.footerVisitUs a {
  color: teal;
  text-decoration: none;
  font-size: large;
}
